<style>
	table th {
		width: 40%;
	}
</style>
<div style="margin-right: 2em;">
	<form method="POST" action="?page={{GET('page')}}">
		<h1>Nettsiden</h1>
		<p class="">
			Det viktigste for nettsiden, er at du velger et forsidebilde, og skriver inn en kort informasjonstekst. 
		</p>
		<p>
			Hvis du lurer på hvordan nettsiden ser ut, kan du trykke "vis nettside" i menylinjen (øverst på siden).
		</p>
		{% include "wp_modul.flashbag.html.twig" %}

		{% if forside.harArrangement() and arrangement.getType() == 'land' %}
			{% include "festivalen/tema.html.twig" %}
		{% endif %}


		<table class="table table-striped">
			{% if forside.supportBannerBilde() %}
				<tr>
					<th>
						Forsidebilde
					</th>
					<td>
						{% if forside.harBannerBilde() %}
							<img src="{{ forside.getBannerBilde().getUrl() }}" style="float:left;" width="100"/>
							<a href="?page=UKMnettside&action=forsidebilde" class="btn btn-ukm btn-xs">Endre forsidebilde</a>
						{% else %}
							Det er ikke angitt et forsidebilde.
							<br/>
							<a href="?page=UKMnettside&action=forsidebilde" class="btn btn-ukm btn-xs">Legg til et forsidebilde</a>
						{% endif %}
						<div class="clearfix"></div>
					</td>
				</tr>
			{% endif %}

			{% if forside.supportInfoside() %}
				<tr>
					<th>
						Informasjonstekst
						<p class="small text-muted normal">
							Her kan du ønske velkommen, eller gi kort informasjon. Prøv å holde det så kort som mulig. Hvis teksten blir lang, legger systemet automatisk på en "les mer"-knapp.
						</p>
					</th>
					<td>
						<textarea id="informasjonstekst" name="informasjonstekst" class="wp-autoresize">
							{{ (backupPageContent is defined ? backupPageContent : forside.getInfoside().getContent())|raw }}
						</textarea>
						{% if forside.getInfoside().getId() > 0 %}
							<p>
								<a href="?page=UKMnettside&deleteInfoSide={{forside.getInfoside().getId() }}" class="btn btn-ukm btn-xs btn-danger" onclick="return confirm('Er du sikker på at du vil slette informasjonsteksten?');">Slett informasjonstekst</a>
							</p>
						{% endif %}
					</td>
				</tr>
			{% endif %}

            {% if (forside.erKommuneSide() and forside.getFylke().erFalskt() ) or (forside.harArrangement() and arrangement.getFylke().erFalskt()) %}
                <tr>
					<th>
						Hva er UKM-tekst
					</th>
					<td>
						<div class="btn-group radioButtons" data-name="visHvaErUKM">
							<button type="button" class="btn btn-default {{ visHvaErUKM ? 'selected' }}" value="true">
								&nbsp; Vis &nbsp;</button>
							<button type="button" class="btn btn-default {{ not visHvaErUKM ? 'selected' }}" value="false">
								&nbsp; Skjul &nbsp;</button>
						</div>
					</td>
				</tr>
            {% endif %}

			{% if forside.supportBannerSlagord() %}
				<tr>
					<th>
						Tekst i banner
						<p class="small text-muted normal">
							Kort slagord / tekst som vises oppå forsidebildet
						</p>
					</th>
					<td>
						{% if forside.harBannerBilde() %}
							<textarea name="slogan" class="form-control" maxlength="150">{{ forside.getBannerSlagord()|raw }}</textarea>
						{% else %}
							<p class="text-danger">
								Siden må ha et forsidebilde for at du skal kunne angi slagord.
							</p>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>
						Farge på hovedmeny-knapp
					</th>
					<td>
						<input type="text" class="form-control colorpicker" name="menu_color" value="{{ forside.getBannerMenyFarge() }}"/>
					</td>
				</tr>
			{% endif %}

			{% if forside.erKommuneSide() and forside.getFylke().erFalskt() %}
				<tr>
					<th>
                        Meny-knapp til UKM {{ forside.getFylke().getNavn() }}
                        <p class="small text-muted normal">
                            For kommuner i falske fylker (fylker som kun finnes i UKM-systemet)
                            er det valgfritt å lenke til fylkessiden, da dette ikke alltid er ønskelig.
                        </p>
                    </th>
					<td>
						<div class="btn-group radioButtons" data-name="visFylkeKnapp">
							<button type="button" class="btn btn-default {{ visFylkeKnapp ? 'selected' }}" value="true">
								&nbsp; Vis &nbsp;</button>
							<button type="button" class="btn btn-default {{ not visFylkeKnapp ? 'selected' }}" value="false">
								&nbsp; Skjul &nbsp;</button>
						</div>
					</td>
				</tr>
			{% endif %}

			{% if forside.supportMeny() %}
				<tr>
					<th>
						Egendefinert ekstra-meny
						<p class="small text-muted normal">
							<small class="label label-warning">avansert</small>
							Hvis du vil ha ekstra menyelementer på siden din, kan du legge til en meny her. Alle meny-elementer vil vises som en egen knapp på forsiden.
						</p>
					</th>
					<td>
						{% if forside.hasMeny() %}
							<select name="menu">
								<option value="0">Ikke vis meny</option>
								{% for meny in menyer %}
									<option value="{{meny.term_id}}" {{ meny.term_id == forside.getMeny() ? 'selected'}}>{{meny.name}}</option>
								{% endfor %}
							</select>
							<a href="nav-menus.php" class="btn btn-ukm btn-xs">Redigere meny</a>
						{% else %}
							<p class="text-muted">
								Du må
								<a href="nav-menus.php">opprette en meny</a>
								før du kan velge hvilken som skal vises på forsiden
							</p>
						{% endif %}
					</td>
				</tr>
			{% endif %}
		</table>

		<h2>Nyheter</h2>
		<p>
			Har du en nyhet du vil dele, velger du "nyheter" i menyen til venstre. 
		</p>
		<p>
			Husk at du bør legge praktisk informasjon i informasjonstekst-feltet ovenfor, da nyhetene kommer langt ned på siden når man bruker mobil.
		</p>
		<br>
		<p>
			Nyhetssaker bør brukes til å skape forventninger, vise hva som har skjedd, eller handle om en historie som deltakerne dine kan ha lyst til å dele.
		</p>


		<table class="table table-striped">

		</table>

		<button type="submit" class="btn btn-large btn-ukm btn-success">Lagre</button>

	</form>
</div>
<script>
	jQuery('.wp-submenu .wp-first-item').addClass('current');
</script>

